.main{
    display: flex;
    justify-content: center;
}

.weather{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.weather__header{
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
    width: 100%;
}
.weather__title{
    span{
        color: dimgrey;
    }
}
.days{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 10px;
}
@media screen and (max-width: 426px) {
    .days{
        max-width: 230px;
    }
}
.day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 110px;
    gap: 2px;
    padding: 6px 14px;
    border: 1px solid lightgrey;
    border-radius: .25rem;
    box-shadow: 0 0 3px lightgrey;
    cursor: pointer;
    transition: all .2s;
    &:hover{
        box-shadow: 0 0 8px #cdcdcd;
    }
}
.today{
    font-size: .9em;
}
.date{
    font-size: 1.6em;
    font-family: Arial, sans-serif;
}
.month{
    font-size: .9em;
}
.icon{}
.temp{
    display: flex;
    column-gap: 10px;
    .min{}
    .max{}
    .min, .max{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .temp__title{
            font-size: .8em;
            color: grey;
        }
        .val{}
    }
}
.details_wrap{
    width: 100%;
}
@media screen and (max-width: 426px) {
    .details_wrap{
        max-width: 265px;
    }
}
.detail{
    position: relative;
    display: none;
    flex-wrap: wrap;

    gap: 4px;

    .capture{
        font-size: .9em;
        div{
            padding: 2px 4px;
            height: calc(100% / 6);
        }
        div:nth-child(even){
            background-color: #f0f0f0;
        }
    }
    .interval{

        div{
            display: flex;
            justify-content: center;
            padding: 2px 4px;
            height: calc(100% / 6);
        }
        div:nth-child(even){
            background-color: #f0f0f0;
        }
    }

}
.show-detail{
    display: flex;
}
